In [17]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

import warnings 
warnings.filterwarnings('ignore')

In [18]:
df = pd.read_excel('flight_price.xlsx')
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [19]:
df.sample(5)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
6964,IndiGo,9/05/2019,Delhi,Cochin,DEL → BOM → COK,16:00,01:30 10 May,9h 30m,1 stop,No info,9274
6454,Air India,18/06/2019,Delhi,Cochin,DEL → COK,14:05,17:55,3h 50m,non-stop,No info,5201
5836,Multiple carriers Premium economy,21/03/2019,Delhi,Cochin,DEL → BOM → COK,07:30,18:50,11h 20m,1 stop,No info,14629
7870,Jet Airways,1/06/2019,Delhi,Cochin,DEL → BOM → COK,14:00,19:00,5h,1 stop,No info,14714
3093,IndiGo,9/06/2019,Delhi,Cochin,DEL → BOM → COK,16:00,01:30 10 Jun,9h 30m,1 stop,No info,6316

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [21]:
df.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [22]:
df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

In [23]:
df['Date'] = df['Date_of_Journey'].str.split('/').str[0]
df['Month'] = df['Date_of_Journey'].str.split('/').str[1]
df['Year'] = df['Date_of_Journey'].str.split('/').str[2]

In [24]:
df['Date'] = df['Date'].astype(int)
df['Month'] = df['Month'].astype(int)
df['Year'] = df['Year'].astype(int)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
 11  Date             10683 non-null  int32
 12  Month            10683 non-null  int32
 13  Year             10683 non-null  int32
dtypes: int32(3), int64(1), object(10)
memory usage: 1.0+ MB

In [26]:
df.drop('Date_of_Journey', axis = 1, inplace = True)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Arrival_Time     10683 non-null  object
 6   Duration         10683 non-null  object
 7   Total_Stops      10682 non-null  object
 8   Additional_Info  10683 non-null  object
 9   Price            10683 non-null  int64
 10  Date             10683 non-null  int32
 11  Month            10683 non-null  int32
 12  Year             10683 non-null  int32
dtypes: int32(3), int64(1), object(9)
memory usage: 959.9+ KB

In [29]:
df.drop('Date', axis = 1, inplace = True)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Arrival_Time     10683 non-null  object
 6   Duration         10683 non-null  object
 7   Total_Stops      10682 non-null  object
 8   Additional_Info  10683 non-null  object
 9   Price            10683 non-null  int64
 10  Month            10683 non-null  int32
 11  Year             10683 non-null  int32
dtypes: int32(2), int64(1), object(9)
memory usage: 918.2+ KB

In [31]:
df.columns

Index(['Airline', 'Source', 'Destination', 'Route', 'Dep_Time', 'Arrival_Time',
       'Duration', 'Total_Stops', 'Additional_Info', 'Price', 'Month', 'Year'],
      dtype='object')

In [32]:
df

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,6,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,5,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,3,2019
...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107,4,2019
10679,Air India,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145,4,2019
10680,Jet Airways,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229,4,2019
10681,Vistara,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648,3,2019
10682,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753,5,2019

In [33]:
df['Arrival_Time'] = df['Arrival_Time'].apply(lambda x:x.split(" ")[0])

In [34]:
df['Arrival_hour'] = df['Arrival_Time'].str.split(':').str[0]
df['Arrival_min'] = df['Arrival_Time'].str.split(':').str[1]

In [35]:
df.drop(columns = ['Arrival_Time'], axis = 1, inplace = True)

In [36]:
df['Arrival_min'] = df['Arrival_min'].apply(lambda x: x.split(" ")[0])

In [37]:
df['Arrival_hour'] = df['Arrival_hour'].astype(int)
df['Arrival_min'] = df['Arrival_min'].astype(int)

In [38]:
df.drop('Arrival_Time', axis = 1, inplace = True)

KeyError: "['Arrival_Time'] not found in axis"

In [39]:
df.sample(1)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Month,Year,Arrival_hour,Arrival_min
8123,Jet Airways,Delhi,Cochin,DEL → BOM → COK,02:15,10h 20m,1 stop,In-flight meal not included,10262,6,2019,12,35

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Duration         10683 non-null  object
 6   Total_Stops      10682 non-null  object
 7   Additional_Info  10683 non-null  object
 8   Price            10683 non-null  int64
 9   Month            10683 non-null  int32
 10  Year             10683 non-null  int32
 11  Arrival_hour     10683 non-null  int32
 12  Arrival_min      10683 non-null  int32
dtypes: int32(4), int64(1), object(8)
memory usage: 918.2+ KB

In [42]:
df['Dep_hour'] = df['Dep_Time'].str.split(':').str[0]
df['Dep_min'] = df['Dep_Time'].str.split(':').str[1]

In [43]:
df.drop('Dep_Time', axis = 1, inplace = True)

In [44]:
df['Dep_hour'] = df['Dep_hour'].astype(int)
df['Dep_min'] = df['Dep_min'].astype(int)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Duration         10683 non-null  object
 5   Total_Stops      10682 non-null  object
 6   Additional_Info  10683 non-null  object
 7   Price            10683 non-null  int64
 8   Month            10683 non-null  int32
 9   Year             10683 non-null  int32
 10  Arrival_hour     10683 non-null  int32
 11  Arrival_min      10683 non-null  int32
 12  Dep_hour         10683 non-null  int32
 13  Dep_min          10683 non-null  int32
dtypes: int32(6), int64(1), object(7)
memory usage: 918.2+ KB

In [46]:
df['Total_Stops']

0        non-stop
1         2 stops
2         2 stops
3          1 stop
4          1 stop
           ...
10678    non-stop
10679    non-stop
10680    non-stop
10681    non-stop
10682     2 stops
Name: Total_Stops, Length: 10683, dtype: object

In [47]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [48]:
df['Total_Stops'].isna().sum()

1

In [49]:
df[df['Total_Stops'].isnull()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480,5,2019,9,25,9,45

In [50]:
df['Total_Stops'].mode()

0    1 stop
Name: Total_Stops, dtype: object

In [51]:
df['Total_Stops'] = df['Total_Stops'].map({'non-stop':0, '1 stop':1, '2 stop':2, '3 stop':2, '4 stops':4, np.nan:1})

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min
10633,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,7h 15m,1.0,In-flight meal not included,7308,27,5,2019,1,30,18,15
10634,Jet Airways,Delhi,Cochin,DEL → JAI → BOM → COK,26h 55m,1.0,In-flight meal not included,11733,6,6,2019,12,35,9,40
10635,Jet Airways,Delhi,Cochin,DEL → BOM → COK,13h 45m,1.0,No info,14714,1,6,2019,12,35,22,50
10636,Jet Airways,Kolkata,Banglore,CCU → BOM → BLR,5h 30m,1.0,No info,14388,15,5,2019,12,0,6,30
10637,Jet Airways,Banglore,Delhi,BLR → DEL,3h 5m,1.0,No info,7229,24,4,2019,22,0,18,55
10638,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,14h,1.0,In-flight meal not included,7832,21,3,2019,11,25,21,25
10639,Air India,Delhi,Cochin,DEL → RPR → NAG → BOM → COK,38h,1.0,No info,10493,3,6,2019,19,15,5,15
10640,Jet Airways,Delhi,Cochin,DEL → BOM → COK,24h 35m,1.0,In-flight meal not included,14053,9,3,2019,18,50,18,15
10641,IndiGo,Chennai,Kolkata,MAA → CCU,2h 20m,1.0,No info,7295,6,3,2019,10,15,7,55
10642,Air India,Kolkata,Banglore,CCU → JAI → BOM → BLR,26h 50m,1.0,No info,11222,21,5,2019,11,10,8,20
10643,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,6h 30m,1.0,No info,7670,18,5,2019,1,30,19,0
10644,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,8h 25m,1.0,No info,10877,6,6,2019,19,0,10,35
10645,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,8h 25m,1.0,No info,17057,3,3,2019,15,30,7,5
10646,Jet Airways,Delhi,Cochin,DEL → IDR → BOM → COK,13h 30m,1.0,In-flight meal not included,11507,6,6,2019,19,0,5,30
10647,Jet Airways,Delhi,Cochin,DEL → COK,3h 15m,1.0,In-flight meal not included,4466,18,6,2019,13,5,9,50
10648,Air India,Delhi,Cochin,DEL → CCU → BOM → COK,26h 20m,1.0,No info,13801,1,6,2019,19,15,16,55
10649,IndiGo,Kolkata,Banglore,CCU → BLR,2h 40m,1.0,No info,4778,1,3,2019,0,5,21,25
10650,Jet Airways,Kolkata,Banglore,CCU → DEL → BLR,8h 25m,1.0,In-flight meal not included,12384,15,5,2019,18,0,9,35
10651,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,7h 40m,1.0,No info,10678,27,6,2019,12,35,4,55
10652,Air India,Delhi,Cochin,DEL → TRV → COK,25h 35m,1.0,No info,9790,9,3,2019,6,50,5,15
10653,Jet Airways,Kolkata,Banglore,CCU → BOM → BLR,21h 55m,1.0,No info,14388,1,5,2019,12,0,14,5
10654,SpiceJet,Banglore,Delhi,BLR → DEL,2h 40m,1.0,No check-in baggage included,4319,12,6,2019,8,35,5,55
10655,Jet Airways,Mumbai,Hyderabad,BOM → HYD,1h 25m,1.0,No info,5678,3,5,2019,4,20,2,55
10656,Vistara,Banglore,Delhi,BLR → DEL,2h 40m,1.0,No info,5613,6,4,2019,9,40,7,0
10657,Jet Airways,Kolkata,Banglore,CCU → BOM → BLR,13h 20m,1.0,In-flight meal not included,9663,6,5,2019,9,20,20,0
10658,Jet Airways,Banglore,Delhi,BLR → DEL,2h 55m,1.0,In-flight meal not included,5769,18,6,2019,14,5,11,10
10659,Vistara,Banglore,Delhi,BLR → DEL,2h 50m,1.0,No info,4668,1,5,2019,23,50,21,0
10660,Vistara,Banglore,New Delhi,BLR → DEL,2h 55m,1.0,No info,4878,21,3,2019,0,5,21,10
10661,Air India,Delhi,Cochin,DEL → BOM → COK,6h 15m,1.0,No info,8372,9,5,2019,19,15,13,0
10662,Air India,Kolkata,Banglore,CCU → BOM → GOI → BLR,20h 10m,1.0,No info,12352,24,3,2019,5,35,9,25
10663,Jet Airways,Delhi,Cochin,DEL → JAI → BOM → COK,17h 5m,1.0,In-flight meal not included,11733,6,6,2019,12,35,19,30
10664,IndiGo,Banglore,Delhi,BLR → DEL,2h 55m,1.0,No info,4823,9,4,2019,21,50,18,55
10665,IndiGo,Kolkata,Banglore,CCU → BLR,2h 30m,1.0,No info,4804,27,4,2019,17,45,15,15
10666,Jet Airways,Delhi,Cochin,DEL → BOM → COK,24h 45m,1.0,In-flight meal not included,10262,12,6,2019,19,0,18,15
10667,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,21h 25m,1.0,In-flight meal not included,11087,12,3,2019,20,20,22,55
10668,Jet Airways,Delhi,Cochin,DEL → JDH → BOM → COK,7h 20m,1.0,No info,21219,9,5,2019,19,0,11,40
10669,Air India,Delhi,Cochin,DEL → BOM → COK,11h 15m,1.0,No info,9929,15,6,2019,19,15,8,0
10670,Air India,Kolkata,Banglore,CCU → IXR → DEL → BLR,17h 25m,1.0,No info,11411,12,5,2019,23,15,5,50
10671,Air India,Mumbai,Hyderabad,BOM → HYD,1h 20m,1.0,No info,3100,6,6,2019,22,25,21,5
10672,Jet Airways,Delhi,Cochin,DEL → AMD → BOM → COK,19h 55m,1.0,In-flight meal not included,11150,27,6,2019,19,0,23,5
10673,Jet Airways,Delhi,Cochin,DEL → AMD → BOM → COK,15h,1.0,No info,16704,27,5,2019,4,25,13,25
10674,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,24h 45m,1.0,In-flight meal not included,11087,12,3,2019,21,20,20,35
10675,Air India,Mumbai,Hyderabad,BOM → HYD,1h 20m,1.0,No info,3100,9,6,2019,7,40,6,20
10676,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,8h 40m,1.0,No info,9794,1,5,2019,19,0,10,20
10677,SpiceJet,Banglore,Delhi,BLR → DEL,2h 40m,1.0,No check-in baggage included,3257,21,5,2019,8,35,5,55
10678,Air Asia,Kolkata,Banglore,CCU → BLR,2h 30m,1.0,No info,4107,9,4,2019,22,25,19,55
10679,Air India,Kolkata,Banglore,CCU → BLR,2h 35m,1.0,No info,4145,27,4,2019,23,20,20,45
10680,Jet Airways,Banglore,Delhi,BLR → DEL,3h,1.0,No info,7229,27,4,2019,11,20,8,20
10681,Vistara,Banglore,New Delhi,BLR → DEL,2h 40m,1.0,No info,12648,1,3,2019,14,10,11,30
10682,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,8h 20m,1.0,No info,11753,9,5,2019,19,15,10,55

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Duration         10683 non-null  object
 5   Total_Stops      9118 non-null   float64
 6   Additional_Info  10683 non-null  object
 7   Price            10683 non-null  int64
 8   Month            10683 non-null  int32
 9   Year             10683 non-null  int32
 10  Arrival_hour     10683 non-null  int32
 11  Arrival_min      10683 non-null  int32
 12  Dep_hour         10683 non-null  int32
 13  Dep_min          10683 non-null  int32
dtypes: float64(1), int32(6), int64(1), object(6)
memory usage: 918.2+ KB

In [53]:
df.drop('Route', axis = 1, inplace = True)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Duration         10683 non-null  object
 4   Total_Stops      9118 non-null   float64
 5   Additional_Info  10683 non-null  object
 6   Price            10683 non-null  int64
 7   Month            10683 non-null  int32
 8   Year             10683 non-null  int32
 9   Arrival_hour     10683 non-null  int32
 10  Arrival_min      10683 non-null  int32
 11  Dep_hour         10683 non-null  int32
 12  Dep_min          10683 non-null  int32
dtypes: float64(1), int32(6), int64(1), object(5)
memory usage: 834.7+ KB

In [55]:
df['Duration_hour'] = df['Duration'].str.split(" ").str[0].str.split("h").str[0]

In [56]:
df.drop('Duration', axis = 1, inplace = True)

In [57]:
df.Airline.unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [58]:
df.Source.unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [59]:
from sklearn.preprocessing import OneHotEncoder

In [60]:
encoder = OneHotEncoder()

In [61]:
df.columns

Index(['Airline', 'Source', 'Destination', 'Total_Stops', 'Additional_Info',
       'Price', 'Month', 'Year', 'Arrival_hour', 'Arrival_min', 'Dep_hour',
       'Dep_min', 'Duration_hour'],
      dtype='object')

In [62]:
encoder.fit_transform(df[['Airline', 'Source', 'Destination']]).toarray()

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 0.]])

In [63]:
pd.DataFrame(encoder.fit_transform(df[['Airline', 'Source', 'Destination']]).toarray(), columns = encoder.get_feature_names_out())

,Airline_Air Asia,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,...,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Banglore,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10679,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10680,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10681,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10682,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [64]:
df.columns

Index(['Airline', 'Source', 'Destination', 'Total_Stops', 'Additional_Info',
       'Price', 'Month', 'Year', 'Arrival_hour', 'Arrival_min', 'Dep_hour',
       'Dep_min', 'Duration_hour'],
      dtype='object')

In [ ]:
cat_col